<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Show IP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="grays"><%= ip %></h1>
</body>
</html>